<!DOCTYPE html>
<html>
    <head>
         <title>YelpCamp</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
         <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <!--- <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">YelpCamp</a>
               <ul class="nav navbar-nav navbar-rigth">
                  <span class="navbar-text">
                     <a href="/register">Sign Up</a>
                     <a href="/login">Login</a>
                     <a href="/logout">Log Out</a>
                   </span>
					</ul>
          </nav> -->
          <nav class="navbar navbar-dark bg-dark">
             <div class="container-fluid">
                <div class="navbar-header">
                   <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                  <ul class="nav navbar-nav navbar-right">
                     <span class="navbar-text">
                        <% if(!currentUser){ %>
                           <a href="/login">Login</a>
                           <a href="/register">Sign Up</a>
                        <% }else{ %>
                           <a href="#" Signed In AS <%= currentUser.username %></a>
                           <a href="/logout">Logout</a>
                       <% } %>
                     </span>
                  </ul>
                
             </div>
          </nav>